body {
    background-color: rgb(5,5,5);
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    color: rgb(240,240,240);
    text-align: center;
    font-family: "Ek Mukta";
}

h1 {
    color: rgb(255,255,255);
    font-size: 56px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 10;
    font-family: "Ubuntu";
    overflow: hidden;
}

.navbar_entry, .navbar_entry_s {
    display: inline-block;
    height: 22px;
    width: 100px;
    background: #444;
}

.navbar_entry_s {
    background: #469;
}

.navbar_link {
    display: inline-block;
    width: 100px;
    height: 22px;
    text-decoration: none;
}

.divider {
    color: #ccc;
    width: 70%;
    margin: 20px auto;
    padding-top: 38px;
    overflow: hidden;
    line-height: 1.2em;
}

.divider:before, .divider:after {
    content: "";
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 0.65em;
    border-bottom: 1px solid #ccc;
    margin: 0 2% 0 -55%
}

.divider:after {
    margin: 0 -55% 0 2%
}

.separator {
    font-size: 24px;
    font-weight: bold;
}

.header {
    height: 48px;
}

.footer {

}

.copyright {
    font-size: 12;
    padding-top: 16;
    padding-bottom: 16;
    color: rgb(170,170,170);
}

.banner {
    background-image: url("images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 256px;
}

a:link {
    color: #0064EE;
}

a:visited {
    color: #00BBFF;
}

a:hover {
    color: #0090FF;
}

a.navbar_link:link {
    color: #ccd;
}

a.navbar_link:visited {
    color: #ccd;
}

a.navbar_link:hover {
    color: #eef;
    background-color: #59b;
}
