/* ### GENERIC ############ */

body {
    background-color: #FAFAFA;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 14px 0;
}

a {
    transition: color 0.6s;
}

a:link, a:visited {
    color: #2196F3;
}

a:hover {
    color: #64B5F6;
}

#wrapper {
    position: relative;
    min-height: 100vh;
}

#wrapper div {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

/* ### HEADER ############## */

#header {
    position: relative;
    height: 56px;
    background-color: #424242;
    box-shadow: 0 2px 4px 2px #BDBDBD;
    z-index: 6;
}

#headerContent {
    margin: 0 14%;
}

/* ### CONTENT ############# */

#content {
    position: absolute;
    top: 56px;
    bottom: 56px;
    padding: 26px 14%;
    box-shadow: 0 2px 4px 1px #E0E0E0;
    z-index: 4;
}

/* ### FOOTER ############## */

#footer {
    position: absolute;
    bottom: 0;
    padding: 0 14%;
    height: 56px;
    background-color: #EEE;
}

#copyright {
    height: 56px;
    line-height: 56px;
    font-size: 14;
    color: #9E9E9E;
}
