body {
    background-color: #efefef;
    font-family: "Montserrat", "Roboto", "Cambria", sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 36pt;
    font-weight: 700;
}

p {
    font-size: 18pt;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #607D8B;
    transition: color 0.3s;
}

a:hover {
    color: #2196f3;
}

.paragraph {
    margin: 32px;
    text-align: center;
}

.paragraph:first-child {
    margin-top: 0;
}

.paragraph:last-child {
    margin-bottom: 0;
}

.abs-center, .nav-button, .nav-button > i {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.scroll {
    padding-right: 6px;
    overflow-x: hidden; overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 4px;
}

.scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.input-text {
    height: 28px;
    margin-top: 10px;
    position: relative;
}

.input-text > label {
    position: absolute;
    top: 0; left: 0;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    transition: top 0.6s, font-size 0.6s;
    pointer-events: none;
}

.input-text.invalid > label {
    color: rgba(255, 0, 0, 0.6);
}

.input-text > input[type="text"]:focus + label,
.input-text > input[type="text"]:valid + label {
    top: -20px;
    font-size: 10px;
}

.input-text > input[type="text"] {
    width: 100%; height: 24px;
    position: absolute;
    padding-bottom: 3px;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid 1px #aaaaaa;
    font-size: 24px;
    font-family: "Montserrat", "Roboto", "Cambria", sans-serif;
    box-sizing: content-box;
}

.input-text > span {
    width: 0;
    position: absolute;
    bottom: 0;
    border-bottom: solid 2px #2196f3;
    transition: width 0.6s;
}

.input-text > input[type="text"]:focus ~ span {
    width: 100%;
}

#wrapper {
    width: 100vw; height: 100vh;
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
}

#copyright {
    position: fixed;
    bottom: 8px; right: 8px;
}

#copyright > p {
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.54);
}

#s-container {
    position: absolute;
    top: 0; left: 0;
    transition: top 0.8s, left 0.8s;
}

.s-title {
    position: absolute;
}

.s-content-container {
    width: 54vw; height: 54vh;
}

.section {
    width: 100vw; height: 100vh;
    position: absolute;
    top: 0; left: 0;
}

#s-up { transform: translateY(-100%); }
#s-left { transform: translateX(-100%); }
#s-left > .s-title { top: 0; left: 10px; }
#s-right { transform: translateX(100%); }
#s-right > .s-title { top: 0; right: 10px; }
#s-down { transform: translateY(100%); }
#s-down > .s-title { bottom: 10px; left: 10px; }

.nav-button {
    text-align: center;
    cursor: pointer;
}

.nav-button, .nav-button > .nav-bg {
    width: 70px; height: 70px;
    border-radius: 50%;
    border: solid 3px rgba(0, 0, 0, 0.87);
    background-color: #efefef;
    transition: background-color 0.4s, width 0.4s, height 0.4s;
}

.nav-button > i {
    display: block;
    font-size: 30pt;
    transition: color 0.4s, font-size 0.4s;
}

.nav-button:hover, .nav-button:hover > .nav-bg {
    width: 77px; height: 77px;
    background-color: rgba(0, 0, 0, 0.87);
}

.nav-button:hover > i {
    color: #efefef;
    font-size: 33pt;
}

.nav-button:hover > .rays > .ray-a {
    transform: translate(-6px, 6px);
}

.nav-button:hover > .rays > .ray-b {
    transform: translate(6px, -6px);
}

.rays {
    position: relative;
    top: 50%; left: 50%;
    transform-origin: left;
}

.rays > span {
    width: 100%; height: 0;
    position: absolute; display: block;
    border-bottom: 2px solid #212121;
    transition: transform 0.4s;
}

.rays:after {
    width: 100%; height: 128px;
    position: absolute; display: block;
    top: -64px;
    content: '';
}

#nav-up > .rays, #nav-down > .rays {
    width: 14vh;
}

#nav-left > .rays, #nav-right > .rays {
    width: 14vw;
}

#nav-up { top: 12% }
#nav-up > .rays { transform: rotate(90deg) translateX(11.5vh) }

#nav-left { left: 12% }
#nav-left > .rays { transform: translateX(11.5vw) }

#nav-right { left: 88% }
#nav-right > .rays { transform: rotate(180deg) translateX(11.5vw); }

#nav-down { top: 88% }
#nav-down > .rays { transform: rotate(270deg) translateX(11.5vh); }

.conc {
    width: 200%; height: 200%;
    z-index: -1;
}

.conc > circle {
    transition: linear, r 0.4s;
}

.nav-button:hover > .conc > .conc-a {
    r: 47;
}

.nav-button:hover > .conc > .conc-b {
    r: 57;
}

#nav-back-up { top: 88%; }
#nav-back-left { left: 88%; }
#nav-back-right { left: 12%; }
#nav-back-down { top: 12%; }

#oracle {
    position: absolute;
    top: 0; left: 0;
    transform: translate(-42%, -42%);
    font-size: 384px;
}

#repo-container {
    display: flex;
    flex-flow: column;
}

#repo-search {
    flex: none;
    margin-bottom: 4px;
}

#repo-list {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.repo-entry {
    height: 64px;
    padding: 4px 0;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #cecece;
    overflow: hidden;
    box-sizing: content-box;
    flex: none;
    order: 0;
}

.repo-entry:last-child {
    border-bottom: none;
}

.repo-entry.hidden {
    opacity: 0.4;
    order: 1;
}

.repo-entry-left {
    flex: none;
    margin-right: 10px;
}

.repo-entry-left > h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
}

.repo-entry-center {
    flex: 1;
    font-size: 14pt;
    overflow: hidden;
}

.repo-entry-center > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.repo-entry-right {
    flex: none;
    margin-left: 8px;
}

.repo-entry-right > a {
    padding: 2px;
    display: block;
    font-size: 28px;
}

#org-center-icon > i {
    font-size: 30vh;
}

.org-entry {
    position: absolute; display: flex;
    flex-flow: column;
    align-items: center;
    transform: translate(-50%, -50%);
}

.org-icon {
    width: 80px; height: 80px;
    background: no-repeat center;
    background-size: cover;
}

.org-name {
    padding: 6px 8px;
    background-color: rgba(0, 0, 0, 0.87);
    white-space: nowrap;
    color: #efefef;
    font-family: "Source Code Pro", "Courier New", "Courier", monospace;
    font-size: 16pt;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.org-name:hover {
    background-color: #2196f3;
}

#ruby {
    width: 100%; height: 24%;
    position: absolute;
    top: 74%; left: 0;
    background-image: url(../img/rails.png);
    background-size: contain;
    transform: perspective(48vh) rotateX(64deg);
    transform-origin: top;
}

#link-container {
    height: 40vh;
    display: flex;
    top: 44%;
    flex-flow: row;
}

.link-entry-container {
    height: 100%;
    margin: 12px;
    position: relative; display: block;
    transition: transform 0.5s;
    flex: 1;
}

.link-entry {
    width: 100%; height: 100%;
    border-radius: 4%;
    transition: box-shadow 0.5s;
}

.link-entry > i {
    display: block;
    color: #ffffff;
    font-size: 96pt;
}

.link-entry-container:hover {
    transform: scale(1.04, 1.04);
}

.link-entry-container:hover > .link-entry {
    box-shadow: 0 4px 24px -4px #000000;
}